.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  /* выше установили ограничения для секции */
}
.logo {
  background-repeat: no-repeat;
  background-size: cover;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}
.logo_size_s{
  width: 183px;
  height: 32px;
}
.header__title{
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  padding-left:64px;
  z-index: 3;
  font-weight: bold;
}
.header__subtitle{
  width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  z-index: 3;
}
.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}
.header__link{
  text-decoration: none;
  color:#2f80ed;
}
.description {
  display: flex;
  justify-content: center;
}
.indent-top{
  margin-top: 100px;
}
.two-columns{
  width: 80%;
  min-height: 378px;
  display: flex;
}
.two-colimns__brief{
  width: 175px;
}
.two-columns__brief_title{
  font-size: 18px;
  line-height: 1.2;
  font-style: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  margin: 0;
}
.two-colimns__span-accent{
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}
.digits{
  margin: 100px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-title{
  width:60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}
.section-title_indent_white{
  margin: 0;
}
.section-title_theme_white{
  color: #000;
}
.section-subtitle{
  width:60%;
  margin-top:20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}
.section-subtitle_theme_white{
  color: #000;
}
.table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.table_theme_white{
  width: 1100px;
}
.table__cell{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.table__cell_theme_white{
  color:#000;
  margin-right: 0;
  margin-top:60px;
  width: 250px;
  padding: 0;
}
.table__cell_list{
  list-style:none;
  padding:0;
  margin:0;
}
.table__heading{
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}
.table__heading_theme_white{
  color: #000;
}
.table__text{
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0 0;
}
.table__text_theme_white{
  color: #000;
}
.feynman{
margin-top: 100px;
height: 890px;
position: relative;
background-color: #f2f2f2;
}
.feynman__title{
  width: 648px;
  margin:0 auto;
  padding-top: 100px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  z-index: 1;
  position: relative;
  text-align: center;
}
.feynman__subtitle{
  margin: 70px auto 0;
 text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
  position: relative;
}
.feynman__background-image{
width: 867px;
height: 637px;
position: absolute;
bottom: 0;
left: 0;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
}
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.section-title_theme_dark{
  color: #fff;
}
.section-title_indent_dark{
  margin-top: 90px;
  margin-bottom: 0;
}
.section-subtitle_theme_dark{
  color: #fff;
}
.kaufman__triangle{
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  padding: 0;
}
.table__heading_theme_dark{
  color: #fff;
}
.table__text_theme_dark{
  color: #fff;
}
.table_theme_dark{
  width: 1100px;
  z-index: 2;
  margin-bottom: 90px;
}
.footer{
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer__table{
  width: 90%;
  display: flex;
}
.footer__columns{
  display: flex;
  flex-basis: 711px;
}
.footer__columns_direcrion_row{
  flex-direction: row;
}
.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer{
  justify-content: flex-start;
}
.logo_size_l{
  width: 183px;
  height: 35px;
}
.footer__author{
  color: #fff;
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__columns_direcrion_row{
  display: flex;
  position: relative;
}
.footer__column_content_info{
margin:0 auto;
}
.footer__column-heading{
line-height: 30px;
font-size: 18px;
font-weight: bold;
color:#fff;
margin-top: 0;
margin-bottom: 20px;
}
.footer__column-link{
display: flex;
flex-direction: column;
margin-bottom: 16px;
}
.footer__column-links{
line-height: 30px;
font-size: 18px;
font-weight: normal;
color:#fff;
text-decoration: none;
}
.footer__column_content_social{
  position: absolute;
  top: 0;
  right: 0;
}
.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
